<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" failOnWarning="true" displayDetailsOnTestsThatTriggerWarnings="true">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- Set CARGOBOARD_SANDBOX=1 and CARGOBOARD_API_KEY to run integration tests -->
    <env name="CARGOBOARD_SANDBOX" value=""/>
    <env name="CARGOBOARD_API_KEY" value=""/>
    <!-- Set to 0 to keep the integration run read-only (no sandbox orders placed) -->
    <env name="CARGOBOARD_ALLOW_ORDERS" value=""/>
  </php>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
