{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "description": "<h4>Authentication.</h4>\n<p>Authentication is done with X-API-KEY. You can request a key via mail to api@cargoboard.com.",
    "version": "1.0.5",
    "contact": {
      "name": "Cargoboard Admin",
      "url": "https://cargoboard.com/",
      "email": "api@cargoboard.com"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.cargoboard.com",
      "description": "api-sandbox.cargoboard.com"
    },
    {
      "url": "https://api.cargoboard.com",
      "description": "api.cargoboard.com"
    }
  ],
  "paths": {
    "/v1/orders/{id}/cancel": {
      "post": {
        "operationId": "cancel-an-order",
        "summary": "Cancel an Order",
        "description": "Authorization with customer token (XApiKey) or user token (Bearer). Header x-api-key required as cancellation token. For value of id parameter, CUID or reference of order are accepted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Order cancellation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCancelOrder"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Order cannot be cancelled due to its current state."
          },
          "502": {
            "description": "Bad Gateway"
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "HateoasLink": {
        "type": "object",
        "properties": {
          "rel": {
            "description": "Relation name",
            "type": "string"
          },
          "method": {
            "description": "Http method like: GET, POST, PUT, DELETE.",
            "type": "string"
          },
          "description": {
            "description": "Description for link.",
            "type": "string"
          },
          "href": {
            "description": "Href for relation.",
            "type": "string"
          }
        }
      },
      "CancelOrder": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "Cancelation Status."
          },
          "message": {
            "type": "string",
            "example": "Message."
          }
        }
      },
      "ResponseCancelOrder": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CancelOrder"
          },
          "links": {
            "$ref": "#/components/schemas/HateoasLink"
          }
        },
        "required": [
          "data"
        ]
      }
    },
    "securitySchemes": {
      "X-API-KEY": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "externalDocs": {
    "description": "Documentation for customers.",
    "url": "https://docs.cargoboard.com"
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
