{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "description": "<h4>Authentication.</h4>\n<p>Authentication is done with X-API-KEY. You can request a key via mail to api@cargoboard.com.",
    "version": "1.0.5",
    "contact": {
      "name": "Cargoboard Admin",
      "url": "https://cargoboard.com/",
      "email": "api@cargoboard.com"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.cargoboard.com",
      "description": "api-sandbox.cargoboard.com"
    },
    {
      "url": "https://api.cargoboard.com",
      "description": "api.cargoboard.com"
    }
  ],
  "paths": {
    "/v1/orders/{id}/tracking": {
      "get": {
        "operationId": "get-tracking-information-for-an-order",
        "summary": "Get tracking information for an Order",
        "description": "Authorization with customer token (XApiKey) or user token (Bearer). For value of id parameter, CUID or reference of order are accepted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Return tracking information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseGetTrackingData"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Referenced order could not found"
          },
          "409": {
            "description": "Authorized user is not a customer"
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "TrackingStep": {
        "type": "object",
        "properties": {
          "sequence": {
            "description": "Sequence of the tracking step.",
            "type": "number"
          },
          "type": {
            "description": "Type of tracking step.",
            "type": "string",
            "enum": [
              "ACCEPTED",
              "DISPOSITION",
              "PICKED_UP",
              "DISPATCHED",
              "UNLOADED",
              "ON_A_WAY_TO_CONSIGNEE",
              "DELIVERED"
            ]
          },
          "code": {
            "description": "Status code of the step.",
            "type": "string",
            "enum": [
              "5X0",
              "-1",
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "10",
              "14",
              "16",
              "17",
              "20",
              "21",
              "22",
              "28",
              "29",
              "30",
              "33",
              "35",
              "36",
              "37",
              "38",
              "39",
              "40",
              "49",
              "50",
              "51",
              "52",
              "54",
              "57",
              "60",
              "61",
              "62",
              "63",
              "65",
              "67",
              "68",
              "70",
              "80",
              "81",
              "91",
              "92",
              "93",
              "95",
              "98",
              "99",
              "100",
              "300",
              "301",
              "302",
              "303",
              "304",
              "305",
              "400",
              "401",
              "410",
              "411",
              "420",
              "421",
              "422",
              "423",
              "424",
              "430",
              "431",
              "432",
              "433",
              "434",
              "442",
              "453",
              "470",
              "471",
              "472",
              "473",
              "474",
              "500",
              "510",
              "521",
              "522",
              "523",
              "526",
              "527",
              "528",
              "529",
              "533",
              "540",
              "549",
              "550",
              "552",
              "570",
              "571",
              "618",
              "619",
              "620",
              "621",
              "622",
              "623",
              "624",
              "625",
              "626",
              "627",
              "628",
              "632",
              "633",
              "634",
              "636",
              "637",
              "638",
              "640",
              "641",
              "644",
              "645",
              "646",
              "647",
              "648",
              "649",
              "650",
              "651",
              "652",
              "654",
              "655",
              "656",
              "657",
              "658",
              "659",
              "660",
              "661",
              "663",
              "664",
              "665",
              "666",
              "667",
              "668",
              "669",
              "670",
              "672",
              "674",
              "679",
              "681",
              "682",
              "683",
              "684",
              "685",
              "686",
              "687",
              "688",
              "689",
              "690",
              "691",
              "692",
              "693",
              "694",
              "695",
              "696",
              "697",
              "698",
              "699",
              "701",
              "702",
              "703",
              "704",
              "705",
              "706",
              "707",
              "708",
              "709",
              "710",
              "711",
              "712",
              "713",
              "714",
              "715",
              "716",
              "717",
              "718",
              "719",
              "720",
              "721",
              "722",
              "723",
              "724",
              "725",
              "726",
              "727",
              "728",
              "729",
              "730",
              "731",
              "732",
              "733",
              "734",
              "735",
              "736",
              "737",
              "738",
              "739",
              "740",
              "741",
              "742",
              "743",
              "744",
              "745",
              "746",
              "747",
              "748",
              "749",
              "750",
              "751",
              "752",
              "753",
              "754",
              "755",
              "756",
              "761",
              "762",
              "763",
              "764",
              "765",
              "766",
              "767",
              "768",
              "769",
              "770",
              "771",
              "772",
              "773",
              "774",
              "775",
              "776",
              "777",
              "778",
              "779",
              "780",
              "781",
              "783",
              "785",
              "787",
              "789",
              "790",
              "791",
              "792",
              "793",
              "794",
              "795",
              "796",
              "797",
              "798",
              "799",
              "800",
              "801",
              "802",
              "803",
              "804",
              "805",
              "806",
              "807",
              "808",
              "809",
              "810",
              "811",
              "812",
              "813",
              "814",
              "815",
              "816",
              "817",
              "818",
              "819",
              "820",
              "821",
              "822",
              "823",
              "824",
              "825",
              "826",
              "827",
              "828",
              "829",
              "830",
              "831",
              "832",
              "833",
              "834",
              "835",
              "836",
              "837",
              "838",
              "839",
              "840",
              "841",
              "842",
              "843",
              "844",
              "845",
              "846",
              "847",
              "848",
              "849",
              "850",
              "851",
              "852",
              "853",
              "854",
              "855",
              "856",
              "857",
              "858",
              "859",
              "860",
              "861",
              "862",
              "863",
              "864",
              "865",
              "866",
              "867",
              "868",
              "869",
              "870",
              "871",
              "872",
              "873",
              "874",
              "875",
              "876",
              "877",
              "878",
              "879",
              "880",
              "881",
              "882",
              "883",
              "884",
              "885",
              "886",
              "887",
              "888",
              "889",
              "890",
              "891",
              "892",
              "893",
              "894",
              "895",
              "896",
              "897",
              "898",
              "899",
              "900",
              "901",
              "902",
              "903",
              "904",
              "905",
              "906",
              "907",
              "908",
              "909",
              "910",
              "911",
              "912",
              "913",
              "914",
              "915",
              "916",
              "917",
              "918",
              "919",
              "920",
              "921",
              "922",
              "923",
              "924",
              "925",
              "926",
              "927",
              "928",
              "929",
              "930",
              "931",
              "932",
              "933",
              "934",
              "935",
              "936",
              "937",
              "938",
              "939",
              "940",
              "941",
              "942",
              "943",
              "944",
              "945",
              "946",
              "947",
              "948",
              "949",
              "950",
              "951",
              "952",
              "953",
              "954",
              "955",
              "956",
              "957",
              "958",
              "959",
              "960",
              "961",
              "962",
              "963",
              "964",
              "965",
              "966",
              "967",
              "968",
              "969",
              "970",
              "971",
              "972",
              "973",
              "974",
              "975",
              "976",
              "977",
              "978",
              "979",
              "980",
              "981",
              "982",
              "983",
              "984",
              "985",
              "986",
              "987",
              "988",
              "989",
              "990",
              "991",
              "992",
              "993",
              "994",
              "995",
              "996",
              "997",
              "998",
              "999"
            ]
          },
          "status": {
            "description": "Status of the step.",
            "type": "string",
            "enum": [
              "SUCCESS",
              "WARNING",
              "PENDING",
              "NO_STATUS"
            ]
          },
          "originatedAt": {
            "description": "Date and time when status event happened.",
            "type": "string",
            "format": "date-time",
            "example": "2023-07-18T08:00:00Z"
          }
        },
        "required": [
          "type",
          "code",
          "status",
          "originatedAt"
        ]
      },
      "TrackingStatus": {
        "type": "object",
        "properties": {
          "originatedAt": {
            "description": "Date and time when status event happened.",
            "type": "string",
            "format": "date-time",
            "example": "2023-07-18T08:00:00Z"
          },
          "code": {
            "description": "Status code of event.",
            "type": "string",
            "enum": [
              "5X0",
              "-1",
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "10",
              "14",
              "16",
              "17",
              "20",
              "21",
              "22",
              "28",
              "29",
              "30",
              "33",
              "35",
              "36",
              "37",
              "38",
              "39",
              "40",
              "49",
              "50",
              "51",
              "52",
              "54",
              "57",
              "60",
              "61",
              "62",
              "63",
              "65",
              "67",
              "68",
              "70",
              "80",
              "81",
              "91",
              "92",
              "93",
              "95",
              "98",
              "99",
              "100",
              "300",
              "301",
              "302",
              "303",
              "304",
              "305",
              "400",
              "401",
              "410",
              "411",
              "420",
              "421",
              "422",
              "423",
              "424",
              "430",
              "431",
              "432",
              "433",
              "434",
              "442",
              "453",
              "470",
              "471",
              "472",
              "473",
              "474",
              "500",
              "510",
              "521",
              "522",
              "523",
              "526",
              "527",
              "528",
              "529",
              "533",
              "540",
              "549",
              "550",
              "552",
              "570",
              "571",
              "618",
              "619",
              "620",
              "621",
              "622",
              "623",
              "624",
              "625",
              "626",
              "627",
              "628",
              "632",
              "633",
              "634",
              "636",
              "637",
              "638",
              "640",
              "641",
              "644",
              "645",
              "646",
              "647",
              "648",
              "649",
              "650",
              "651",
              "652",
              "654",
              "655",
              "656",
              "657",
              "658",
              "659",
              "660",
              "661",
              "663",
              "664",
              "665",
              "666",
              "667",
              "668",
              "669",
              "670",
              "672",
              "674",
              "679",
              "681",
              "682",
              "683",
              "684",
              "685",
              "686",
              "687",
              "688",
              "689",
              "690",
              "691",
              "692",
              "693",
              "694",
              "695",
              "696",
              "697",
              "698",
              "699",
              "701",
              "702",
              "703",
              "704",
              "705",
              "706",
              "707",
              "708",
              "709",
              "710",
              "711",
              "712",
              "713",
              "714",
              "715",
              "716",
              "717",
              "718",
              "719",
              "720",
              "721",
              "722",
              "723",
              "724",
              "725",
              "726",
              "727",
              "728",
              "729",
              "730",
              "731",
              "732",
              "733",
              "734",
              "735",
              "736",
              "737",
              "738",
              "739",
              "740",
              "741",
              "742",
              "743",
              "744",
              "745",
              "746",
              "747",
              "748",
              "749",
              "750",
              "751",
              "752",
              "753",
              "754",
              "755",
              "756",
              "761",
              "762",
              "763",
              "764",
              "765",
              "766",
              "767",
              "768",
              "769",
              "770",
              "771",
              "772",
              "773",
              "774",
              "775",
              "776",
              "777",
              "778",
              "779",
              "780",
              "781",
              "783",
              "785",
              "787",
              "789",
              "790",
              "791",
              "792",
              "793",
              "794",
              "795",
              "796",
              "797",
              "798",
              "799",
              "800",
              "801",
              "802",
              "803",
              "804",
              "805",
              "806",
              "807",
              "808",
              "809",
              "810",
              "811",
              "812",
              "813",
              "814",
              "815",
              "816",
              "817",
              "818",
              "819",
              "820",
              "821",
              "822",
              "823",
              "824",
              "825",
              "826",
              "827",
              "828",
              "829",
              "830",
              "831",
              "832",
              "833",
              "834",
              "835",
              "836",
              "837",
              "838",
              "839",
              "840",
              "841",
              "842",
              "843",
              "844",
              "845",
              "846",
              "847",
              "848",
              "849",
              "850",
              "851",
              "852",
              "853",
              "854",
              "855",
              "856",
              "857",
              "858",
              "859",
              "860",
              "861",
              "862",
              "863",
              "864",
              "865",
              "866",
              "867",
              "868",
              "869",
              "870",
              "871",
              "872",
              "873",
              "874",
              "875",
              "876",
              "877",
              "878",
              "879",
              "880",
              "881",
              "882",
              "883",
              "884",
              "885",
              "886",
              "887",
              "888",
              "889",
              "890",
              "891",
              "892",
              "893",
              "894",
              "895",
              "896",
              "897",
              "898",
              "899",
              "900",
              "901",
              "902",
              "903",
              "904",
              "905",
              "906",
              "907",
              "908",
              "909",
              "910",
              "911",
              "912",
              "913",
              "914",
              "915",
              "916",
              "917",
              "918",
              "919",
              "920",
              "921",
              "922",
              "923",
              "924",
              "925",
              "926",
              "927",
              "928",
              "929",
              "930",
              "931",
              "932",
              "933",
              "934",
              "935",
              "936",
              "937",
              "938",
              "939",
              "940",
              "941",
              "942",
              "943",
              "944",
              "945",
              "946",
              "947",
              "948",
              "949",
              "950",
              "951",
              "952",
              "953",
              "954",
              "955",
              "956",
              "957",
              "958",
              "959",
              "960",
              "961",
              "962",
              "963",
              "964",
              "965",
              "966",
              "967",
              "968",
              "969",
              "970",
              "971",
              "972",
              "973",
              "974",
              "975",
              "976",
              "977",
              "978",
              "979",
              "980",
              "981",
              "982",
              "983",
              "984",
              "985",
              "986",
              "987",
              "988",
              "989",
              "990",
              "991",
              "992",
              "993",
              "994",
              "995",
              "996",
              "997",
              "998",
              "999"
            ]
          },
          "message": {
            "description": "Message for the event.",
            "type": "string",
            "example": "Package arrived at the warehouse."
          },
          "waitingMinutes": {
            "description": "Waiting time in minutes.",
            "type": "number"
          },
          "emittedBy": {
            "description": "Id of executive partner",
            "type": "string"
          },
          "nameOfSigner": {
            "description": "Name of signer.",
            "type": "string"
          },
          "vehicleLatitude": {
            "description": "Latitude of coordinates.",
            "type": "number"
          },
          "vehicleLongitude": {
            "description": "Longitude of coordinates.",
            "type": "number"
          },
          "estimatedCollectionAtFrom": {
            "description": "Date and time of collection from happened.",
            "type": "string",
            "format": "date-time",
            "example": "2023-07-18T08:00:00Z"
          },
          "estimatedCollectionAtUntil": {
            "description": "Date and time of collection until happened.",
            "type": "string",
            "format": "date-time",
            "example": "2023-07-18T08:00:00Z"
          },
          "estimatedArrivalAtFrom": {
            "description": "Date and time of arrival from happened.",
            "type": "string",
            "format": "date-time",
            "example": "2023-07-18T08:00:00Z"
          },
          "estimatedArrivalAtUntil": {
            "description": "Date and time of arrival until happened.",
            "type": "string",
            "format": "date-time",
            "example": "2023-07-18T08:00:00Z"
          },
          "stopsUntilCollection": {
            "description": "Stops until collection.",
            "type": "number"
          },
          "stopsUntilDelivery": {
            "description": "Stops until delivery.",
            "type": "number"
          },
          "createdAt": {
            "description": "Date and time when the tracking event was created in the system (may differ from originatedAt).",
            "type": "string",
            "format": "date-time",
            "example": "2026-08-05T08:00:00Z"
          },
          "estimatedPickupAtFrom": {
            "description": "Estimated start of pickup window.",
            "type": "string",
            "format": "date-time",
            "example": "2026-08-05T09:00:00Z"
          },
          "estimatedPickupAtUntil": {
            "description": "Estimated end of pickup window.",
            "type": "string",
            "format": "date-time",
            "example": "2026-08-05T17:00:00Z"
          },
          "estimatedDeliveryAtFrom": {
            "description": "Estimated start of delivery window.",
            "type": "string",
            "format": "date-time",
            "example": "2026-08-05T08:00:00Z"
          },
          "estimatedDeliveryAtUntil": {
            "description": "Estimated end of delivery window.",
            "type": "string",
            "format": "date-time",
            "example": "2026-08-05T08:00:00Z"
          },
          "deliveringPartnerOrderNumber": {
            "description": "Delivering partner order number.",
            "type": "string"
          },
          "source": {
            "description": "System/party that emitted this tracking event. Possible values e.g. CARGOBOARD.",
            "type": "string",
            "example": "CARGOBOARD"
          },
          "causedBy": {
            "description": "What triggered this tracking event, e.g. POD_UPLOADED.",
            "type": "string",
            "example": "POD_UPLOADED"
          },
          "location": {
            "description": "Location associated with this tracking event.",
            "allOf": [
              {
                "$ref": "#/components/schemas/TrackingLocation"
              }
            ]
          }
        },
        "required": [
          "originatedAt",
          "code",
          "estimatedCollectionAtFrom",
          "estimatedCollectionAtUntil",
          "estimatedArrivalAtFrom",
          "estimatedArrivalAtUntil"
        ]
      },
      "ResponseGetTrackingData": {
        "type": "object",
        "properties": {
          "trackingSteps": {
            "description": "Steps of the tracking",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrackingStep"
            }
          },
          "statusEventHistory": {
            "description": "Historic status events of the tracking",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrackingStatus"
            }
          }
        },
        "required": [
          "trackingSteps",
          "statusEventHistory"
        ]
      },
      "TrackingLocationAddress": {
        "type": "object",
        "properties": {
          "postCode": {
            "type": "string",
            "example": "10115"
          },
          "city": {
            "type": "string",
            "example": "Berlin"
          },
          "street": {
            "type": "string",
            "example": "Friedrichstraße 1"
          },
          "countryCode": {
            "type": "string",
            "example": "DE"
          },
          "latitude": {
            "type": "number",
            "example": 52.3039
          },
          "longitude": {
            "type": "number",
            "example": 8.02659
          }
        }
      },
      "TrackingLocation": {
        "type": "object",
        "properties": {
          "role": {
            "description": "Role of the location in the shipment. Possible values e.g. shippingPartner, deliveringPartner, shipper, consignee.",
            "type": "string",
            "example": "shippingPartner"
          },
          "depotId": {
            "description": "Id of the depot/hub.",
            "type": "string",
            "example": "4490"
          },
          "name": {
            "type": "string",
            "example": "Koch, Osnabrück"
          },
          "address": {
            "$ref": "#/components/schemas/TrackingLocationAddress"
          }
        }
      }
    },
    "securitySchemes": {
      "X-API-KEY": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "externalDocs": {
    "description": "Documentation for customers.",
    "url": "https://docs.cargoboard.com"
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
