{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "description": "<h4>Authentication.</h4>\n<p>Authentication is done with X-API-KEY. You can request a key via mail to api@cargoboard.com.",
    "version": "1.0.5",
    "contact": {
      "name": "Cargoboard Admin",
      "url": "https://cargoboard.com/",
      "email": "api@cargoboard.com"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.cargoboard.com",
      "description": "api-sandbox.cargoboard.com"
    },
    {
      "url": "https://api.cargoboard.com",
      "description": "api.cargoboard.com"
    }
  ],
  "paths": {
    "/v1/orders": {
      "post": {
        "operationId": "place-an-order",
        "summary": "Place an Order",
        "description": "Authorization with customer token (XApiKey) or user token (Bearer). Orders placed on this endpoint need confirmation for authorization different than wih XApiKey that is customers tokenApi.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrder"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order has been successfully placed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateOrder"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Authorized user is not a customer"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "502": {
            "description": "Bad Gateway"
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ContactPerson": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Gal Anonymous"
          },
          "phone": {
            "type": "string",
            "example": "+4917287502631"
          },
          "email": {
            "type": "string",
            "example": "orders@not-existing-company.com"
          }
        }
      },
      "NeutralData": {
        "type": "object",
        "properties": {
          "postCode": {
            "type": "string",
            "example": "10115"
          },
          "countryCode": {
            "type": "string",
            "example": "DE",
            "enum": [
              "AL",
              "AT",
              "BE",
              "BG",
              "CH",
              "CZ",
              "DE",
              "DK",
              "EE",
              "ES",
              "FI",
              "FR",
              "GB",
              "GR",
              "HR",
              "HU",
              "IE",
              "IT",
              "LI",
              "LT",
              "LU",
              "LV",
              "NL",
              "NO",
              "PL",
              "PT",
              "RO",
              "RS",
              "SE",
              "SI",
              "SK",
              "TR"
            ]
          },
          "name": {
            "type": "string",
            "example": "Fake Company"
          },
          "street": {
            "type": "string",
            "example": "Friedrichstraße 1"
          },
          "city": {
            "type": "string",
            "example": "Berlin"
          }
        },
        "required": [
          "postCode",
          "countryCode",
          "name",
          "street",
          "city"
        ]
      },
      "HateoasLink": {
        "type": "object",
        "properties": {
          "rel": {
            "description": "Relation name",
            "type": "string"
          },
          "method": {
            "description": "Http method like: GET, POST, PUT, DELETE.",
            "type": "string"
          },
          "description": {
            "description": "Description for link.",
            "type": "string"
          },
          "href": {
            "description": "Href for relation.",
            "type": "string"
          }
        }
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "earliest": {
            "description": "Earliest date for delivery.",
            "type": "string",
            "format": "date-time"
          },
          "latest": {
            "description": "Latest date for delivery.",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "earliest",
          "latest"
        ]
      },
      "Price": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "Amount for price.",
            "type": "number"
          },
          "currency": {
            "description": "Currency for price. Possible values: EUR.",
            "type": "string",
            "example": "EUR",
            "enum": [
              "EUR"
            ]
          }
        }
      },
      "Runtime": {
        "type": "object",
        "properties": {
          "daysMin": {
            "description": "Minimum days for runtime.",
            "type": "number"
          },
          "daysMax": {
            "description": "Maximum days for runtime.",
            "type": "number"
          }
        }
      },
      "CostItemProduct": {
        "type": "object",
        "properties": {
          "description": {
            "description": "Description for cost item.",
            "type": "string"
          },
          "type": {
            "description": "Cost item type. Possible values: DANGEROUS_GOODS, PRIVATE_CUSTOMER, IMPORT_DUTIES, CONTACT_BEFORE_PICKUP, TAIL_LIFT_TRUCK, PREMIUM_DELIVERY, CONTACT_BEFORE_DELIVERY, PHONE_CALL_FROM_DRIVER_BEFORE_DELIVERY, PHONE_CALL_FROM_DRIVER_BEFORE_PICKUP, DELIVERY_WITHOUT_CONSIGNEE_PRESENCE, TRANSPORT_INSURANCE, EXPORT_DECLARATION, ADDITIONAL_PRODUCTS, PALLET_EXCHANGE, CLIMATE_NEUTRAL_SURCHARGE, SHIPMENT, GENERAL_MARGIN, CUSTOMIZED_MARGIN, ACTUAL_COST_CORRECTION, FUEL_SURCHARGE, CUSTOMER_DISCOUNT, COUPON.",
            "type": "string",
            "example": "SHIPMENT",
            "enum": [
              "DANGEROUS_GOODS",
              "PRIVATE_CUSTOMER",
              "IMPORT_DUTIES",
              "CONTACT_BEFORE_PICKUP",
              "TAIL_LIFT_TRUCK",
              "PREMIUM_DELIVERY",
              "CONTACT_BEFORE_DELIVERY",
              "PHONE_CALL_FROM_DRIVER_BEFORE_DELIVERY",
              "PHONE_CALL_FROM_DRIVER_BEFORE_PICKUP",
              "DELIVERY_WITHOUT_CONSIGNEE_PRESENCE",
              "TRANSPORT_INSURANCE",
              "EXPORT_DECLARATION",
              "ADDITIONAL_PRODUCTS",
              "PALLET_EXCHANGE",
              "CLIMATE_NEUTRAL_SURCHARGE",
              "SHIPMENT",
              "GENERAL_MARGIN",
              "CUSTOMIZED_MARGIN",
              "ACTUAL_COST_CORRECTION",
              "FUEL_SURCHARGE",
              "CUSTOMER_DISCOUNT",
              "COUPON"
            ]
          },
          "subtype": {
            "description": "Cost item subtype. Possible values: PICKUP_ADVISE, DELIVERY_ADVISE, PHONE_CALL_FROM_DRIVER_BEFORE_PICKUP, PHONE_CALL_FROM_DRIVER_BEFORE_DELIVERY, TAIL_LIFT, TAIL_LIFT_PICKUP, TAIL_LIFT_DELIVERY, DELIVERY_WHITOUT_CONSIGNEE_PRESENCE, PREMIUM_DELIVERY, PRIVATE_CONSIGNEE, EXPRESS_16, EXPRESS_12, EXPRESS_10, EXPRESS_8, FIX_16, FIX_12, FIX_10, FIX_8, PICKUP_BEFORE_12, PICKUP_AFTER_12, DELIVERY_BEFORE_12, DELIVERY_AFTER_12, EXPORT_DECLARATION, IMPORT_DECLARATION.",
            "type": "string",
            "example": "PICKUP_ADVISE",
            "enum": [
              "PICKUP_ADVISE",
              "DELIVERY_ADVISE",
              "PHONE_CALL_FROM_DRIVER_BEFORE_PICKUP",
              "PHONE_CALL_FROM_DRIVER_BEFORE_DELIVERY",
              "TAIL_LIFT",
              "TAIL_LIFT_PICKUP",
              "TAIL_LIFT_DELIVERY",
              "DELIVERY_WHITOUT_CONSIGNEE_PRESENCE",
              "PREMIUM_DELIVERY",
              "PRIVATE_CONSIGNEE",
              "EXPRESS_16",
              "EXPRESS_12",
              "EXPRESS_10",
              "EXPRESS_8",
              "FIX_16",
              "FIX_12",
              "FIX_10",
              "FIX_8",
              "PICKUP_BEFORE_12",
              "PICKUP_AFTER_12",
              "DELIVERY_BEFORE_12",
              "DELIVERY_AFTER_12",
              "EXPORT_DECLARATION",
              "IMPORT_DECLARATION"
            ]
          },
          "price": {
            "$ref": "#/components/schemas/Price"
          }
        },
        "required": [
          "description",
          "type",
          "subtype",
          "price"
        ]
      },
      "CO2Emission": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "Amount for CO2 emission.",
            "type": "number"
          },
          "value": {
            "description": "Value for CO2 emission.",
            "type": "number"
          },
          "unit": {
            "description": "Unit for CO2 emission.",
            "type": "string"
          }
        }
      },
      "AddressOrder": {
        "type": "object",
        "properties": {
          "postCode": {
            "type": "string",
            "example": "10115"
          },
          "countryCode": {
            "type": "string",
            "example": "DE",
            "enum": [
              "AL",
              "AT",
              "BE",
              "BG",
              "CH",
              "CZ",
              "DE",
              "DK",
              "EE",
              "ES",
              "FI",
              "FR",
              "GB",
              "GR",
              "HR",
              "HU",
              "IE",
              "IT",
              "LI",
              "LT",
              "LU",
              "LV",
              "NL",
              "NO",
              "PL",
              "PT",
              "RO",
              "RS",
              "SE",
              "SI",
              "SK",
              "TR"
            ]
          },
          "street": {
            "type": "string",
            "example": "Friedrichstraße 1"
          },
          "city": {
            "type": "string",
            "example": "Berlin"
          }
        },
        "required": [
          "postCode",
          "countryCode",
          "street",
          "city"
        ]
      },
      "ShipperOrder": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Cargoboard GmbH"
          },
          "contactPerson": {
            "$ref": "#/components/schemas/ContactPerson"
          },
          "address": {
            "$ref": "#/components/schemas/AddressOrder"
          },
          "neutralData": {
            "description": "Neutral data for obfuscation.",
            "allOf": [
              {
                "$ref": "#/components/schemas/NeutralData"
              }
            ]
          },
          "pickupAtFrom": {
            "description": "Date with time of start of pickup for the product. Allowed days are days from Monday till Friday. Either pickupOn or pickupAtFrom and pickupAtUntil is enough to be set. If value of pickupOn and pickupAtFrom and pickupAtUntil is set, date part (a day) must be the same.",
            "type": "string",
            "format": "date-time",
            "example": "2023-07-18T08:00:00Z"
          },
          "pickupAtUntil": {
            "description": "Date with time of end of pickup for the product. Allowed days are days from Monday till Friday. Either pickupOn or pickupAtFrom and pickupAtUntil is enough to be set. If value of pickupOn and pickupAtFrom and pickupAtUntil is set, date part (a day) must be the same.",
            "type": "string",
            "format": "date-time",
            "example": "2023-07-18T16:00:00Z"
          },
          "pickupOn": {
            "description": "Date without time of pickup for the product. Allowed days are days from Monday till Friday. Either pickupOn or pickupAtFrom and pickupAtUntil is enough to be set. If value of pickupOn and pickupAtFrom and pickupAtUntil is set, date part (a day) must be the same.",
            "type": "string",
            "format": "date",
            "example": "2023-07-18"
          },
          "wantsContactBeforePickup": {
            "description": "A service where a Logistic Company contacts the customer by phone days/hours before the pickup and arranges an appointment for the pickup. This is often booked when a customer is not on site every time and needs an exact time.",
            "type": "boolean"
          },
          "wantsTailLiftTruck": {
            "description": "Wants Tail Lift Truck.",
            "type": "boolean"
          },
          "loadingType": {
            "description": "Loading type (collection). Possible values RAMP, SIDE, CRANE, LIFTING_PLATFORM_OR_TAIL_LIFT_TRUCK",
            "type": "string",
            "example": "LIFTING_PLATFORM_OR_TAIL_LIFT_TRUCK"
          },
          "freeTextForPickup": {
            "type": "string",
            "example": "Free text for pickup."
          },
          "reference": {
            "type": "string",
            "example": "XYZ123"
          }
        },
        "required": [
          "name",
          "address"
        ]
      },
      "ConsigneeOrder": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Cargoboard GmbH"
          },
          "contactPerson": {
            "$ref": "#/components/schemas/ContactPerson"
          },
          "address": {
            "$ref": "#/components/schemas/AddressOrder"
          },
          "neutralData": {
            "description": "Neutral data for obfuscation.",
            "allOf": [
              {
                "$ref": "#/components/schemas/NeutralData"
              }
            ]
          },
          "isPrivateCustomer": {
            "description": "Consignee is private customer.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "wantsContactBeforeDelivery": {
            "description": "A service where a Logistic Company contacts the customer by phone days/hours before the delivery and arranges an appointment for the delivery. This is often booked when a customer is not on site every time and needs an exact time.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "wantsPhoneCallFromDriverBeforeDelivery": {
            "description": "A service where a Logistic Company contacts the customer by phone about 30 - 60 minutes before arriving at the customer location to deliver the shipment.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "wantsDeliveryWithoutConsigneePresence": {
            "description": "A service where delivery will not require consignee presence.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "wantsTailLiftTruck": {
            "description": "Wants Tail Lift Truck.",
            "type": "boolean"
          },
          "deliveryOn": {
            "description": "Date of delivery for fix product. Allowed delivery dates from Monday till Friday.",
            "type": "string",
            "format": "date",
            "example": "2023-07-18"
          },
          "deliveryTimeSlot": {
            "description": "Booked delivery time slot details.",
            "allOf": [
              {
                "$ref": "#/components/schemas/DeliveryTimeSlot"
              }
            ]
          },
          "unloadingType": {
            "description": "Unloading type (delivery). Possible values RAMP, SIDE, CRANE, LIFTING_PLATFORM_OR_TAIL_LIFT_TRUCK",
            "type": "string",
            "example": "LIFTING_PLATFORM_OR_TAIL_LIFT_TRUCK"
          },
          "freeTextForDelivery": {
            "type": "string",
            "example": "Free text for delivery."
          },
          "reference": {
            "type": "string",
            "example": "XYZ123"
          }
        },
        "required": [
          "name",
          "address"
        ]
      },
      "DangerousGoodOrder": {
        "type": "object",
        "properties": {
          "unNo": {
            "type": "string",
            "example": "3480"
          },
          "substanceName": {
            "type": "string",
            "example": "LITHIUM-IONEN-BATTERIEN"
          },
          "packageQuantity": {
            "type": "integer",
            "example": 1
          },
          "packageType": {
            "type": "string",
            "example": "Kiste"
          },
          "quantity": {
            "type": "integer",
            "example": 1
          },
          "weightGross": {
            "type": "integer",
            "example": 11
          },
          "weightNetOrVolume": {
            "type": "integer",
            "example": 9
          },
          "weightNetOrVolumeUnit": {
            "type": "string",
            "example": "NGW"
          },
          "riskAdditional1": {
            "type": "string",
            "example": "First additional risk is..."
          },
          "riskAdditional2": {
            "type": "string",
            "example": "4.1"
          },
          "riskAdditional3": {
            "type": "string",
            "example": "6.1"
          },
          "isSpecialProvision188": {
            "description": "Special provision 188 applies (small lithium cell/battery exemption).",
            "type": "boolean",
            "example": false
          },
          "riskMain": {
            "type": "string",
            "example": "9A"
          },
          "pointsTotal": {
            "type": "integer",
            "example": 27
          },
          "pointsMultiplier": {
            "type": "integer",
            "example": 3
          },
          "adrVersion": {
            "type": "string",
            "example": "ADR2023"
          },
          "classificationCode": {
            "type": "string",
            "example": "M4"
          },
          "packagingGroup": {
            "type": "string",
            "example": null
          },
          "isExemptedQuantity": {
            "type": "boolean",
            "example": false
          },
          "isLimitedQuantity": {
            "type": "boolean",
            "example": false
          },
          "isHighConsequencesDangerousGood": {
            "type": "boolean",
            "example": false
          },
          "technicalNameForNotOtherwiseSpecifiedSubstances": {
            "type": "string",
            "example": "N.O.S."
          },
          "netExplosiveMass": {
            "type": "integer",
            "example": 5
          },
          "transportCategory": {
            "type": "string",
            "example": "2"
          },
          "tunnelRestriction": {
            "description": "Tunnel restriction",
            "type": "string",
            "example": "(E)"
          }
        }
      },
      "CreateLineOrder": {
        "type": "object",
        "properties": {
          "content": {
            "description": "Content for the line.",
            "example": "Tyres",
            "type": "string"
          },
          "unitQuantity": {
            "description": "Quantity for the line.",
            "type": "integer",
            "example": 3
          },
          "unitPackageType": {
            "description": "PackageType for the line.",
            "type": "string",
            "enum": [
              "EP",
              "FP",
              "GB",
              "KI",
              "KT",
              "PA",
              "CC",
              "DIRECT_PKW",
              "DIRECT_BUS",
              "DIRECT_BUS_PLANE",
              "DIRECT_BUS_PLANE_TL",
              "DIRECT_BUS_PLANE_XXL",
              "DIRECT_BUS_PLANE_XXL_TL",
              "DIRECT_TRUCK_7_5",
              "DIRECT_TRUCK_12",
              "DIRECT_TRUCK_40",
              "DIRECT_BUS_TL",
              "DIRECT_TRUCK_7_5_TL",
              "DIRECT_TRUCK_12_TL"
            ]
          },
          "unitLength": {
            "description": "Length for the line.",
            "type": "integer",
            "example": 80
          },
          "unitWidth": {
            "description": "Width for the line.",
            "type": "integer",
            "example": 80
          },
          "unitHeight": {
            "description": "Height for the line.",
            "type": "integer",
            "example": 120
          },
          "unitWeight": {
            "description": "Weight for the line.",
            "type": "number",
            "example": 12.4
          },
          "isStackable": {
            "description": "If set to true, packages are loadable and stackable.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "wantsPalletExchange": {
            "description": "If set to true, pallets exchange is required for a line.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "additionalEuroPallets": {
            "description": "Additional euro Pallets for the line (e.g. as top or side protection).",
            "type": "number",
            "example": 3
          },
          "combinedNomenclatureCode": {
            "description": "Combined Nomenclature (customs tariff) code for the line's content.",
            "type": "string",
            "example": "1507"
          },
          "additionalGitterBoxes": {
            "description": "Additional wire mesh boxes (Gitterboxen) for the line (e.g. as top or side protection).",
            "type": "number",
            "example": 0
          },
          "dangerousGoods": {
            "description": "Dangerous Goods for an order line.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DangerousGoodOrder"
            }
          }
        },
        "required": [
          "content",
          "unitQuantity",
          "unitPackageType",
          "unitLength",
          "unitWidth",
          "unitHeight",
          "unitWeight"
        ]
      },
      "CreateOrder": {
        "type": "object",
        "properties": {
          "product": {
            "description": "The product for which a quotation should be received. Possible values: DIRECT, EXPRESS, EXPRESS_8, EXPRESS_10, EXPRESS_12, EXPRESS_16, FIX, FIX_8, FIX_10, FIX_12, FIX_16, STANDARD.",
            "type": "string",
            "example": "FIX",
            "enum": [
              "DIRECT",
              "EXPRESS",
              "EXPRESS_8",
              "EXPRESS_10",
              "EXPRESS_12",
              "EXPRESS_16",
              "FIX",
              "FIX_8",
              "FIX_10",
              "FIX_12",
              "FIX_16",
              "STANDARD"
            ]
          },
          "shipper": {
            "$ref": "#/components/schemas/ShipperOrder"
          },
          "consignee": {
            "$ref": "#/components/schemas/ConsigneeOrder"
          },
          "lines": {
            "description": "Line for a product.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateLineOrder"
            }
          },
          "customerOrderCode": {
            "description": "A code applied by customer that will appear on documents as CustomerOrderNo",
            "type": "string",
            "example": "XYZ-1568788"
          },
          "couponCode": {
            "description": "A code applied by customer that will allow for special actions like discount etc.",
            "type": "string",
            "example": "CARGOBOARD-WELCOME-123"
          },
          "wantsExportDeclaration": {
            "description": "A service where shipment will be declared for customs. Some customers do this by themselves and others book this option. This service should be only possible if shipment goes to, or comes from a country outside of the EU, like Great Britain, Norway, Switzerland.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "wantsClimateContribution": {
            "description": "Climate contribution to reduce the negative environmental impact of this shipment.",
            "type": "boolean",
            "example": true,
            "default": true
          },
          "wantsInsurance": {
            "description": "Cargoboard will organize an insurance for this shipment. goodsValueAmount is necessary if you set wantsInsurance",
            "type": "boolean",
            "example": true,
            "default": false
          },
          "wantsSignatureRequiredParcel": {
            "description": "Parcel service: signature required upon delivery.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "wantsDirectDeliveryParcel": {
            "description": "Parcel service: direct delivery without hub sorting.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "customsTariffQuantity": {
            "description": "Customs tariff quantity.",
            "type": "number",
            "example": 0
          },
          "wantsNonTransshipment": {
            "description": "Shipment must not be transshipped en route.",
            "type": "boolean",
            "example": false,
            "default": false
          },
          "valueOfGoodsAmountEur": {
            "description": "Value of goods converted to EUR.",
            "type": "number",
            "example": 30
          },
          "valueOfGoodsAmount": {
            "description": "Amount of money - value of goods for insurance or customs",
            "type": "number",
            "example": 30
          },
          "valueOfGoodsCurrency": {
            "description": "Currency of value of goods. Possible values EUR",
            "type": "string",
            "example": "EUR"
          },
          "incoterm": {
            "description": "Incoterm - should always be STANDARD and if you ship to Switzerland, or UK it should be DAP",
            "type": "string",
            "example": "STANDARD",
            "enum": [
              "STANDARD",
              "DAP_CLEARED",
              "DAP_UNCLEARED"
            ]
          },
          "isSupplyingCompanyOrReceivingCustomer": {
            "description": "Has to be set if shipment is going to Switzerland or other non-EU countries for tax reasons. If true customer is supplying company or receiving customer.",
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "product",
          "shipper",
          "consignee",
          "lines"
        ]
      },
      "OrderProduct": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of product.",
            "type": "string"
          },
          "product": {
            "description": "The product. Possible values: DIRECT, EXPRESS, EXPRESS_8, EXPRESS_10, EXPRESS_12, EXPRESS_16, FIX, FIX_8, FIX_10, FIX_12, FIX_16, STANDARD.",
            "type": "string",
            "example": "FIX",
            "enum": [
              "DIRECT",
              "EXPRESS",
              "EXPRESS_8",
              "EXPRESS_10",
              "EXPRESS_12",
              "EXPRESS_16",
              "FIX",
              "FIX_8",
              "FIX_10",
              "FIX_12",
              "FIX_16",
              "STANDARD"
            ]
          },
          "truckType": {
            "description": "Truck type of order. Possible values DIRECT_BUS_PLANE, DIRECT_BUS_PLANE_XXL, DIRECT_TRUCK_7_5, DIRECT_TRUCK_12, DIRECT_TRUCK_40",
            "type": "string",
            "example": "DIRECT_BUS_PLANE",
            "enum": [
              "DIRECT_BUS_PLANE",
              "DIRECT_BUS_PLANE_XXL",
              "DIRECT_TRUCK_7_5",
              "DIRECT_TRUCK_12",
              "DIRECT_TRUCK_40"
            ]
          },
          "price": {
            "$ref": "#/components/schemas/Price"
          },
          "priceStandard": {
            "$ref": "#/components/schemas/Price"
          },
          "pickupOn": {
            "type": "string",
            "format": "date-time"
          },
          "pickupAtFrom": {
            "type": "string",
            "format": "date-time"
          },
          "pickupAtUntil": {
            "type": "string",
            "format": "date-time"
          },
          "runtime": {
            "$ref": "#/components/schemas/Runtime"
          },
          "delivery": {
            "$ref": "#/components/schemas/Delivery"
          },
          "costItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostItemProduct"
            }
          },
          "co2Emission": {
            "description": "CO2Emission details.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CO2Emission"
              }
            ]
          },
          "reference": {
            "description": "Reference of order.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "product",
          "price",
          "priceStandard",
          "pickupOn",
          "pickupAtFrom",
          "pickupAtUntil",
          "runtime",
          "delivery",
          "costItems",
          "co2Emission",
          "reference"
        ]
      },
      "ResponseCreateOrder": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/OrderProduct"
          },
          "links": {
            "$ref": "#/components/schemas/HateoasLink"
          }
        },
        "required": [
          "data"
        ]
      },
      "DeliveryTimeSlot": {
        "type": "object",
        "properties": {
          "performedBy": {
            "description": "Party performing the delivery time slot booking.",
            "type": "string",
            "example": "CARGOBOARD"
          },
          "deliveryTarget": {
            "description": "Type of delivery target.",
            "type": "string",
            "example": "ANOTHER"
          },
          "deliveryTargetAnother": {
            "description": "Free text name of the delivery target when deliveryTarget is ANOTHER.",
            "type": "string",
            "example": "Some warehouse / marketplace name"
          },
          "reference": {
            "description": "Reference for the delivery time slot (e.g. ASN/PO numbers).",
            "type": "string",
            "example": "ASN: 12345 · PO: 67890"
          },
          "deeplinkUrl": {
            "description": "Deeplink URL to the delivery time slot booking.",
            "type": "string",
            "example": "https://booking.example.com/slot/abc"
          },
          "deliveryFrom": {
            "description": "Start of the booked delivery time slot.",
            "type": "string",
            "format": "date-time",
            "example": "2026-05-07T11:00:00.000Z"
          },
          "deliveryUntil": {
            "description": "End of the booked delivery time slot.",
            "type": "string",
            "format": "date-time",
            "example": "2026-05-07T12:00:00.000Z"
          }
        }
      }
    },
    "securitySchemes": {
      "X-API-KEY": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "externalDocs": {
    "description": "Documentation for customers.",
    "url": "https://docs.cargoboard.com"
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
