{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "description": "<h4>Authentication.</h4>\n<p>Authentication is done with X-API-KEY. You can request a key via mail to api@cargoboard.com.",
    "version": "1.0.5",
    "contact": {
      "name": "Cargoboard Admin",
      "url": "https://cargoboard.com/",
      "email": "api@cargoboard.com"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.cargoboard.com",
      "description": "api-sandbox.cargoboard.com"
    },
    {
      "url": "https://api.cargoboard.com",
      "description": "api.cargoboard.com"
    }
  ],
  "paths": {
    "/v1/orders/{id}/print-shipment-labels": {
      "get": {
        "operationId": "print-shipment-label-for-an-order",
        "summary": "Print shipment label for an Order",
        "description": "Authorization with customer token (XApiKey) or user token (Bearer). For value of id parameter, CUID or reference of order are accepted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format of document",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "A4",
                "A6"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders confirmation shipment labels pdf stream successfully delivered",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Order cannot be found"
          },
          "409": {
            "description": "Authorized user is not a customer"
          },
          "502": {
            "description": "Bad Gateway"
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-API-KEY": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "externalDocs": {
    "description": "Documentation for customers.",
    "url": "https://docs.cargoboard.com"
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
